/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  margin-top: 50px;
}

.app{
  width: 100vw;
  height: 100vh;
}

.switcher{
  cursor: pointer;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.delete {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
  cursor: pointer;
  font-size: .75rem;
}